## UCSD Books Dataset Download and Pre-processing

### Downloading UCSD Books Dataset

In [ ]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1LXpK1UfqtP89H1tYy0pBGHjYk8IhigUK' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1LXpK1UfqtP89H1tYy0pBGHjYk8IhigUK" -O goodreads_books.json.gz && rm -rf /tmp/cookies.txt

### Downloading UCSD Books-Genres Mapping Dataset

In [ ]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1ah0_KpUterVi-AHxJ03iKD6O0NfbK0md' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1ah0_KpUterVi-AHxJ03iKD6O0NfbK0md" -O gooreads_book_genres_initial.json.gz && rm -rf /tmp/cookies.txt

### Pre-processing

In [0]:
!gunzip goodreads_books.json.gz

In [0]:
import pandas as pd

### Taking a chunk of 250,000 books

In [0]:
df=pd.read_json("goodreads_books.json",lines=True,chunksize=250000)

In [85]:
df

In [4]:
cnt=0
ll=[]
for chunk in df:
  print(chunk["isbn"])
  cnt+=1
  if cnt==1:
    break

0         0312853122
1         0743509986
2
3         0743294297
4         0850308712
             ...
249995    1591886333
249996    0752893769
249997    1595583351
249998
249999    0688156010
Name: isbn, Length: 250000, dtype: object

In [0]:
ll2=[]
ll2.append(chunk)

In [0]:
ll2[0].to_csv("books.csv")

In [0]:
df3=ll2[0]

In [38]:
df3.head()

         isbn  ...                               title_without_series
0  0312853122  ...                        W.C. Fields: A Life on Film
1  0743509986  ...                                        Good Harbor
2              ...  The Unschooled Wizard (Sun Wolf and Starhawk, ...
3  0743294297  ...                               Best Friends Forever
4  0850308712  ...  Runic Astrology: Starcraft and Timekeeping in ...

[5 rows x 29 columns]

### Removing books with no description

In [0]:
df3=df3[df3.description!=""]

In [62]:
len(df3)

206606

In [63]:
cnt=list(df3["ratings_count"])
c=[]
for i in cnt:
  try:
    c.append(int(i))
  except:
    print(cnt.index(i))
df3["ratings_count"]=c

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [64]:
len(df3)

206606

### Keeping only English books

In [0]:
df3=df3[df3.language_code=="eng"]

In [67]:
len(df3)

69033

### Keeping the books with number of ratings >=50

In [0]:
df3=df3[df3.ratings_count>=50]

In [69]:
len(df3)

29257

In [70]:
df3.head()

          isbn  ...                               title_without_series
2               ...  The Unschooled Wizard (Sun Wolf and Starhawk, ...
3   0743294297  ...                               Best Friends Forever
16  0842379428  ...                                             Heaven
18  0590417010  ...                                         Dog Heaven
31              ...  The Slaughtered Virgin of Zenopolis (Inspector...

[5 rows x 29 columns]

In [0]:
url = df3["image_url"]

In [72]:
cnt=0
for i in url:
  if "image" in i:
    cnt+=1
print(cnt)

19682

### Books with cover images

In [0]:
df3=df3[df3.image_url.str.contains("images") ]

In [74]:
len(df3)

19682

In [77]:
df3.head()

          isbn  ...                               title_without_series
2               ...  The Unschooled Wizard (Sun Wolf and Starhawk, ...
16  0842379428  ...                                             Heaven
18  0590417010  ...                                         Dog Heaven
48              ...                                       Wedding Girl
84              ...  Captain America: Winter Soldier (The Ultimate ...

[5 rows x 29 columns]

In [0]:
df3=df3.reset_index(drop=True)

In [0]:
import pandas as pd

In [0]:
!cp books.csv /content/drive/My\ Drive

In [0]:
df3=ll2[0]

In [0]:
df3.to_csv("books.csv")

In [0]:
df3=pd.read_csv("books.csv")

In [0]:
!gunzip gooreads_book_genres_initial.json.gz

In [0]:
import pandas as pd
import json
with open('gooreads_book_genres_initial.json') as json_file:      
    data2 = json_file.readlines()
    data2 = list(map(json.loads, data2)) 

df2=pd.DataFrame(data2)

In [0]:
id=df2["book_id"]
id2=[]
for i in id:
  id2.append(str(i))
df2["book_id"]=id2

In [0]:
id=df3["book_id"]
id2=[]
for i in id:
  id2.append(str(i))
df3["book_id"]=id2

### Joining Books with Genres Dataset using Book ID

In [0]:
df_outer = pd.merge(df3, df2, on='book_id', how='left')

In [86]:
len(df_outer)

19682

In [0]:
df_outer.to_csv("booksgenre.csv")

In [88]:
df_outer

             isbn  ...                                             genres
0                  ...  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
1      0842379428  ...                               {'non-fiction': 163}
2      0590417010  ...  {'children': 109, 'fiction': 13, 'non-fiction'...
3                  ...                     {'romance': 27, 'fiction': 22}
4                  ...  {'comics, graphic': 433, 'fiction': 19, 'fanta...
...           ...  ...                                                ...
19677  1452857237  ...  {'romance': 45, 'history, historical fiction, ...
19678  0747594848  ...  {'fiction': 58, 'young-adult': 36, 'mystery, t...
19679              ...  {'fiction': 51, 'non-fiction': 25, 'history, h...
19680              ...           {'fantasy, paranormal': 1, 'fiction': 2}
19681  0990540065  ...  {'romance': 45, 'history, historical fiction, ...

[19682 rows x 30 columns]

In [0]:
import pandas as pd
df_outer=pd.read_csv("booksgenre.csv")

In [9]:
df_outer.iloc[1]["genres"]

{'fiction': 219, 'history, historical fiction, biography': 5}

In [0]:
a=df_outer["genres"]

In [90]:
list(a[0].keys())

['fantasy, paranormal', 'fiction', 'mystery, thriller, crime', 'poetry']

In [0]:
b=[]
for i in a:
  b.extend(list(i.keys()))

In [92]:
len(b)

60910

In [0]:
c=set(b)

### Genre Set

In [94]:
c

{'children',
 'comics, graphic',
 'fantasy, paranormal',
 'fiction',
 'history, historical fiction, biography',
 'mystery, thriller, crime',
 'non-fiction',
 'poetry',
 'romance',
 'young-adult'}

In [0]:
e={1,2,3,4,5,6,7,8,9,10}

In [96]:
new_dict = dict(zip(e, c))
print(new_dict)
print(type(new_dict))

{1: 'non-fiction', 2: 'mystery, thriller, crime', 3: 'fantasy, paranormal', 4: 'young-adult', 5: 'comics, graphic', 6: 'history, historical fiction, biography', 7: 'fiction', 8: 'children', 9: 'romance', 10: 'poetry'}
<class 'dict'>

In [0]:
dfk=df_outer[["book_id","genres"]]

In [98]:
dfk

        book_id                                             genres
0       7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
1         89376                               {'non-fiction': 163}
2         89378  {'children': 109, 'fiction': 13, 'non-fiction'...
3      27419760                     {'romance': 27, 'fiction': 22}
4      13571772  {'comics, graphic': 433, 'fiction': 19, 'fanta...
...         ...                                                ...
19677   8279428  {'romance': 45, 'history, historical fiction, ...
19678   6275767  {'fiction': 58, 'young-adult': 36, 'mystery, t...
19679  24820339  {'fiction': 51, 'non-fiction': 25, 'history, h...
19680  12960440           {'fantasy, paranormal': 1, 'fiction': 2}
19681  27160030  {'romance': 45, 'history, historical fiction, ...

[19682 rows x 2 columns]

In [0]:
lll=df2["genres"]

In [100]:
cnt=0
for i in lll:
  if i=={}:
    cnt+=1
print(cnt)

409513

In [101]:
len(lll)

2360655

In [0]:
def get_key(val): 
    for key, value in new_dict.items(): 
         if val == value: 
             return key

In [0]:
genres=[]
for i in range(len(dfk)):
  for j in list(dfk.iloc[i]["genres"].keys()):
    genres.append([dfk.iloc[i]["book_id"],get_key(j)])

In [0]:
import pickle
f=open("genremap.pkl","wb")
pickle.dump(genres,f)

In [105]:
genres[2]

['7327624', 2]

In [0]:
books_genre=pd.DataFrame(genres)

In [107]:
len(books_genre)

60910

In [0]:
books_genre.columns=["book_id","genre_id"]

In [0]:
books_genre.to_csv("books_genre.csv")

## Created Book_ID to Genre_ID Mapping

In [110]:
books_genre

        book_id  genre_id
0       7327624         3
1       7327624         7
2       7327624         2
3       7327624        10
4         89376         1
...         ...       ...
60905  12960440         7
60906  27160030         9
60907  27160030         6
60908  27160030         7
60909  27160030         3

[60910 rows x 2 columns]

In [0]:
genre_map=pd.DataFrame(new_dict.items(),columns=["id","name"])

In [112]:
genre_map

   id                                    name
0   1                             non-fiction
1   2                mystery, thriller, crime
2   3                     fantasy, paranormal
3   4                             young-adult
4   5                         comics, graphic
5   6  history, historical fiction, biography
6   7                                 fiction
7   8                                children
8   9                                 romance
9  10                                  poetry

In [0]:
genre_map.to_csv("genre_map.csv")

In [0]:
https://drive.google.com/uc?id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC

### Downloading UCSD Author Dataset

In [114]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC" -O goodreads_book_authors.json.gz && rm -rf /tmp/cookies.txt

--2020-04-20 10:03:11--  https://docs.google.com/uc?export=download&confirm=&id=19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC
Resolving docs.google.com (docs.google.com)... 64.233.170.113, 64.233.170.138, 64.233.170.139, ...
Connecting to docs.google.com (docs.google.com)|64.233.170.113|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-14-50-docs.googleusercontent.com/docs/securesc/3l8t91m0ngb72srmutus63kbhgdtqvff/1b3udurk0nugjiakk4speckvbirt6k02/1587376950000/02073811625855954957/17440007148545228807Z/19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC?e=download [following]
--2020-04-20 10:03:13--  https://doc-14-50-docs.googleusercontent.com/docs/securesc/3l8t91m0ngb72srmutus63kbhgdtqvff/1b3udurk0nugjiakk4speckvbirt6k02/1587376950000/02073811625855954957/17440007148545228807Z/19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC?e=download
Resolving doc-14-50-docs.googleusercontent.com (doc-14-50-docs.googleusercontent.com)... 172.217.203.132, 2607:f8b0:400c:c07::84
Connecting to doc-14-50-docs.googleusercontent.com (doc-14-50-docs.googleusercontent.com)|172.217.203.132|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://docs.google.com/nonceSigner?nonce=u38rpbj8rmtvc&continue=https://doc-14-50-docs.googleusercontent.com/docs/securesc/3l8t91m0ngb72srmutus63kbhgdtqvff/1b3udurk0nugjiakk4speckvbirt6k02/1587376950000/02073811625855954957/17440007148545228807Z/19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC?e%3Ddownload&hash=q626nfjbojh8a1lq626gvthj7o7t1vkq [following]
--2020-04-20 10:03:13--  https://docs.google.com/nonceSigner?nonce=u38rpbj8rmtvc&continue=https://doc-14-50-docs.googleusercontent.com/docs/securesc/3l8t91m0ngb72srmutus63kbhgdtqvff/1b3udurk0nugjiakk4speckvbirt6k02/1587376950000/02073811625855954957/17440007148545228807Z/19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC?e%3Ddownload&hash=q626nfjbojh8a1lq626gvthj7o7t1vkq
Connecting to docs.google.com (docs.google.com)|64.233.170.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://doc-14-50-docs.googleusercontent.com/docs/securesc/3l8t91m0ngb72srmutus63kbhgdtqvff/1b3udurk0nugjiakk4speckvbirt6k02/1587376950000/02073811625855954957/17440007148545228807Z/19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC?e=download&nonce=u38rpbj8rmtvc&user=17440007148545228807Z&hash=1cba203sdg61lffgkraetkgtboh0qaht [following]
--2020-04-20 10:03:13--  https://doc-14-50-docs.googleusercontent.com/docs/securesc/3l8t91m0ngb72srmutus63kbhgdtqvff/1b3udurk0nugjiakk4speckvbirt6k02/1587376950000/02073811625855954957/17440007148545228807Z/19cdwyXwfXx_HDIgxXaHzH0mrx8nMyLvC?e=download&nonce=u38rpbj8rmtvc&user=17440007148545228807Z&hash=1cba203sdg61lffgkraetkgtboh0qaht
Connecting to doc-14-50-docs.googleusercontent.com (doc-14-50-docs.googleusercontent.com)|172.217.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/gzip]
Saving to: goodreads_book_authors.json.gz

goodreads_book_auth     [ <=>                ]  17.05M  --.-KB/s    in 0.1s

2020-04-20 10:03:13 (177 MB/s) - goodreads_book_authors.json.gz saved [17875063]

In [0]:
!gunzip goodreads_book_authors.json.gz

In [0]:
import pandas as pd
import json
with open('goodreads_book_authors.json') as json_file:      
    data2 = json_file.readlines()
    data2 = list(map(json.loads, data2)) 

df4=pd.DataFrame(data2)

In [117]:
df3.head()

         isbn  ...                               title_without_series
0              ...  The Unschooled Wizard (Sun Wolf and Starhawk, ...
1  0842379428  ...                                             Heaven
2  0590417010  ...                                         Dog Heaven
3              ...                                       Wedding Girl
4              ...  Captain America: Winter Soldier (The Ultimate ...

[5 rows x 29 columns]

In [118]:
df4.head()

  average_rating author_id text_reviews_count              name ratings_count
0           3.98    604031                  7  Ronald J. Fields            49
1           4.08    626222              28716     Anita Diamant        546796
2           3.92     10333               5075    Barbara Hambly        122118
3           3.68      9212              36262   Jennifer Weiner        888522
4           3.82    149918                 96     Nigel Pennick          1740

In [119]:
len(df4)

829529

In [0]:
author_id=list(df4["author_id"])
author_name=list(df4["name"])

In [0]:
author=list(df3["authors"])

In [122]:
author[4]

[{'author_id': '37450', 'role': ''}]

In [0]:
author1=[]
name=[]
for i in author:
  n=[]
  for j in i:
    for k in j.keys():
      if k=='author_id':
        l=author_id.index(j[k])
        m=author_name[l]
        n.append(m)
  name.append(n)

In [124]:
len(name)

19682

In [0]:
ind=[]
for i in name:
  if len(i)>1:
    ind.append(name.index(i))

In [126]:
name[9]

['Douglas Preston', 'Lincoln Child']

## Changing the Author column dictionaries to Author names

In [0]:
df3["authors"]=name

In [128]:
df3.head()

         isbn  ...                               title_without_series
0              ...  The Unschooled Wizard (Sun Wolf and Starhawk, ...
1  0842379428  ...                                             Heaven
2  0590417010  ...                                         Dog Heaven
3              ...                                       Wedding Girl
4              ...  Captain America: Winter Soldier (The Ultimate ...

[5 rows x 29 columns]

In [0]:
df3.to_csv("books.csv")

In [0]:
df_outer["authors"]=name

In [0]:
df_outer.to_csv("booksgenre.csv")

In [133]:
df_outer.head()

         isbn  ...                                             genres
0              ...  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
1  0842379428  ...                               {'non-fiction': 163}
2  0590417010  ...  {'children': 109, 'fiction': 13, 'non-fiction'...
3              ...                     {'romance': 27, 'fiction': 22}
4              ...  {'comics, graphic': 433, 'fiction': 19, 'fanta...

[5 rows x 30 columns]

In [0]:
!cp booksgenre.csv /content/drive/My\ Drive